<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>CondoApp</title>
    </head>
    <body>

        <!--Formulario para registro de usuario-->    
        <section th:fragment="Registro">
            <div class="container h-100">
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-10 col-md-8 col-lg-6 mx-5 px-5">
                        <div class="text-center">
                            <img src="https://previews.123rf.com/images/doublerdesign/doublerdesign1906/doublerdesign190601147/125124060-plantilla-de-vector-de-dise%C3%B1o-de-icono-de-logotipo-de-apartamento.jpg"
                                 style="width: 185px;" alt="logo">
                                <h4 class="mt-1 mb-5 pb-1">CONDOAPP</h4>
                        </div>
                        <form>
                            <p>Ingresa los datos para registrarte</p>

                            <div class="form-outline mb-4">
                                <label for="Nombre">Nombre:</label>
                                <input type="text" id="Nombre" class="form-control border-bottom" placeholder="Nombre" />
                            </div>
                            <div class="form-outline mb-4">
                                <label for="Apellidos">Apellidos:</label>
                                <input type="text" id="Apellidos" class="form-control border-bottom" placeholder="Apellidos" />
                            </div>
                            <div class="form-outline mb-4">
                                <label for="Correo">Correo electrónico: </label>
                                <input type="email" id="Correo" class="form-control border-bottom" placeholder="Correo electrónico" />
                            </div>
                            <div class="form-outline mb-4">
                                <label for="password">Contraseña: </label>
                                <input type="password" id="password" class="form-control" placeholder="Contraseña" />
                            </div>

                            <div class="text-center pt-1 mb-3 pb-1">
                                <button class="btn btn-secondary btn-block mb-2" type="button"><a class="text-white text-decoration-none" th:href="@{/inicio/paginaInicio}">Registrar</a></button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>    
        </section>

        <!--Formulario para cambiar contraseña-->

        <section th:fragment="Resetpwd" >
            <div class="container text-center pt-1 mb-1 pb-1">
                <a href="#" class="text-decoration-none" data-bs-target="#pwd" data-bs-toggle="modal">Forgot password?</a>
            </div>
        </section>
        <section th:fragment="pwd">
            <div id="pwd" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-light">
                            <h5 class="modal-title">Cambiar contraseña</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form>
                            <div class="modal-body">

                                <div class="form-outline mb-3">
                                    <label for="Correo" class="col-form-label">Correo electrónico: </label>
                                    <input type="email" class="form-control" id="Correo"/>
                                </div>
                                <div class="form-outline mb-3">
                                    <label for="password" class="col-form-label">Nueva contraseña: </label>
                                    <input type="password" id="password" class="form-control" />
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </section>
    </body>
</html>