<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" >
    <head th:replace="~{layout/plantilla :: head}">
        <title>CondoApp</title>
    </head>
    <body>

        <-<!-- Formulario para agregar casa -->
        <section th:fragment="Agregar" >

            <div class="container h-100">
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-10 col-md-8 col-lg-6 mx-5 px-5">
                        <div class="text-center">
                            <img src="https://previews.123rf.com/images/doublerdesign/doublerdesign1906/doublerdesign190601147/125124060-plantilla-de-vector-de-dise%C3%B1o-de-icono-de-logotipo-de-apartamento.jpg"
                                 style="width: 185px;" alt="logo">
                                <h4 class="mt-1 mb-5 pb-1">CONDOAPP</h4>
                                <h5 style="background-color: lightblue">Agregar</h5>
                        </div>
                        <form th:action="@{/casas/crudCasas/agregar}" th:object="${casa}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <p>Ingresa los datos para registrar la casa</p>

                            <div class="form-outline mb-4">
                                <label for="NombreCasa">Nombre de la casa</label>
                                <input type="text" name="nombreCasa" class="form-control border-bottom" required="true"/>
                            </div>
                            <div class="form-outline mb-4">
                                <label for="Descripcion">Descripción</label>
                                <input type="text" name="descripcion" class="form-control border-bottom" required="true" />
                            </div>
                            <div class="mb-3">
                                <label for="imagen">Agregue una imagen de la casa:</label>
                                <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                <img id="blah" src="#" alt="your image" height="200"/>
                            </div>
                            <div class="mb-3">
                                <label for="activo">Casa disponible</label>
                                <input class="form-check-input" type="checkbox" name="activo" id="activo" required="true"/>
                            </div>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btn-success btn-block mb-2" type="submit"><a class="text-white text-decoration-none" th:href="@{/administrador/registroAdmin}">Finalizar</a></button>
                                <button class="btn btn-secondary btn-block mb-2" type="button"><a class="text-white text-decoration-none" th:href="@{/administrador/registroAdmin}">Cancelar</a></button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </section>

        <!-- Fragmento para el apartado de consultar y eliminar -->
        <section th:fragment="Consultar">
            <div class="container h-100">
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-10 col-md-8 col-lg-6 mx-5 px-5">
                        <div class="text-center">
                            <img src="https://previews.123rf.com/images/doublerdesign/doublerdesign1906/doublerdesign190601147/125124060-plantilla-de-vector-de-dise%C3%B1o-de-icono-de-logotipo-de-apartamento.jpg"
                                 style="width: 185px;" alt="logo">
                                <h4 class="mt-1 mb-5 pb-1">CONDOAPP</h4>
                                <h5 style="background-color: lightblue">Consulta/Eliminar</h5>
                        </div>
                        <form th:action="@{/casas/consulta/casa}" th:object="${casa}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <!--<form >-->
                            <p>Area de consultas/Actualización</p>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">ID</label>
                                <input type="search" class="form-control" name=idCasa id="idCasa" aria-describedby="emailHelp" required="true"/>
                                <input type="submit" value="Consultar"/>
                            </div>
                        </form>  
                        <table th:if="${casa != null}" class="table" id="details" >
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Activo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:object="${casa}">
                                    <td>[[${casa.idCasa}]]</td>
                                    <td>[[${casa.nombreCasa}]]</td>
                                    <td>[[${casa.descripcion}]]</td>
                                    <td th:text="${casa.activo} ? 'Activa' : 'Inactiva'" />
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </section>

        <!-- Fragmento para el apartado de Actualizar -->
        <section th:fragment="Actualizar" >

            <div class="container h-100">
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-10 col-md-8 col-lg-6 mx-5 px-5">
                        <div class="text-center">
                            <img src="https://previews.123rf.com/images/doublerdesign/doublerdesign1906/doublerdesign190601147/125124060-plantilla-de-vector-de-dise%C3%B1o-de-icono-de-logotipo-de-apartamento.jpg"
                                 style="width: 185px;" alt="logo">
                                <h4 class="mt-1 mb-5 pb-1">CONDOAPP</h4>
                                <h5 style="background-color: lightblue">Actualizar</h5>
                        </div>
                        <div>
                            <form th:action="@{/casas/modificar}" th:object="${casa}"
                                  method="POST" class="was-validated" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">ID</label>
                                    <input type="search" class="form-control" name=idCasa id="idCasa" aria-describedby="emailHelp" required="true"/>
                                    <input type="submit" value="Buscar" class="form-control border-bottom"/>
                                </div>
                            </form>
                        </div>
                        
                            <form th:action="@{/casas/modificar/casa}" th:object="${casa}"
                                  method="POST" class="was-validated" enctype="multipart/form-data">
                                <input type="hidden" name="idCasa" th:field="*{idCasa}"/>
                                <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>

                                <p>Ingresa los datos para actualizar la casa</p>
                                <div class="form-outline mb-4">
                                    <label for="nombreCasa">Nuevo nombre de la casa</label>
                                    <input type="text" name="nombreCasa" th:field="*{nombreCasa}" class="form-control border-bottom" required="true"/>
                                </div>
                                <div class="form-outline mb-4" >
                                    <label for="descripcion">Descripción</label>
                                    <input type="text" name="descripcion" th:field="*{descripcion}" class="form-control border-bottom" required="true"/>
                                </div>
                                <div class="mb-3"  >
                                    <label for="imagen">Agregue una imagen de la casa:</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" th:src="@{${casa.rutaImagen}}" alt="your image" height="200"/>
                                </div>
                                <div class="mb-3" >
                                    <label for="activo">Casa activa</label>
                                    <input class="form-check-input" type="checkbox" name="activo" id="activo" th:field="*{activo}" required="true"/>
                                </div>
                                <div class="d-grid gap-2 col-6 mx-auto">
                                    <button class="btn btn-success btn-block mb-2" type="submit"><a class="text-white text-decoration-none" th:href="@{/administrador/registroAdmin}">Finalizar</a></button>
                                    <button class="btn btn-secondary btn-block mb-2" type="button"><a class="text-white text-decoration-none" th:href="@{/administrador/registroAdmin}">Cancelar</a></button>
                                </div>
                            </form>
                        
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>
