<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>
        <!--header para index-->
        <header th:fragment="header" class="header">
            <nav class="navbar navbar-expand-sm navbar-custom " style="background-color: #002855;">
                <div class="container">
                    <a th:href="@{/}" class="navbar-brand" style="color: white;">Condoapp</a>
                    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                </div>
            </nav>
        </header>

        <!-- texto bienvenida-->
        <section th:fragment="Bienvenida">
            <div class="bg-image p-5 text-center shadow-1-strong rounded mb-3 text-white"
                 style="background-image:url('https://c4.wallpaperflare.com/wallpaper/39/290/518/modern-house-with-a-pool-black-lounger-lot-wallpaper-preview.jpg');">
                <h1>CONDOAPP</h1>
                <h2 class="text-center">Inicio de sesión</h2>
                <h8 class="text-center">BIENVENIDO AL CONDOAPP</h8>
            </div>
        </section>

        <!--Formulario para inicio de sesion--> 

        <section th:fragment="Formulario1">
            <div class="container h-100">
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-10 col-md-8 col-lg-6 mx-5 px-5">
                        <form>
                            <div class="form-outline mb-4">
                                <input type="email" id="Correo" class="form-control border-bottom" placeholder="Correo electrónico" />
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" id="password" class="form-control" placeholder="Contraseña" />
                            </div>

                            <div class="text-center pt-1 mb-3 pb-1">
                                <button class="btn btn-secondary btn-block mb-2" type="button"><a class="text-white text-decoration-none" th:href="@{/inicio/paginaInicio}">Inicio</a></button>
                            </div>
                            <section th:replace = "~{usuario/fragmentos :: Resetpwd}"/>
                            <section th:replace = "~{usuario/fragmentos :: pwd}" />

                            <div class="d-flex align-items-center justify-content-center pb-4">
                                <p class="mb-0 me-2">Aún no tienes cuenta?</p>
                                <a class="text-decoration-none" th:href="@{/usuario/registro}">Crear una</a>
                            </div>

                        </form>

                    </div>
                </div>
            </div>    
        </section>

                            <footer th:fragment="footer" class="text-white mt-5 p-2" style="background-color:#002855 ">
            <div class="container">
                <div class="col">
                    <p class="lead text-start">
                        Telefono: 506 8888-8888
                        <br/> 
                        Direccion: San Jose, San pedro.
                    </p>
                    <p class="lead text-center">
                        <strong><i>Derechos de autor @CondoApp</i></strong>
                    </p>
                </div>
            </div>
        </footer>


    </body>
</html>
